#block-menu-menu-autres-sites {
  display: inline-block;
  font-size: 0.929em;
  position:relative;
}
#block-menu-menu-autres-sites .block-title {
  font-size: 1em;
  color: #3b3b3b;
  display: inline-block;
  vertical-align: top;
  margin: 5px 5px 0 5px;
}
#block-menu-menu-autres-sites .menu {
  z-index: 1;
  border-radius: 5px;
  zoom: 1;
  display: inline-block;
  min-width: 220px;
  padding: 2px 5px;
  background: url('../img/select-red.png') no-repeat 97% 8px #fff;
  border:1px solid;
  border-radius:3px;
}
#block-menu-menu-autres-sites .menu.js {
  position: absolute;
  top: 0;
}
#block-menu-menu-autres-sites .menu li {
  list-style: none;
}
#block-menu-menu-autres-sites .menu a {
  color: #292425;
}
#block-menu-menu-autres-sites .first {
  display: block;
}
#block-menu-menu-autres-sites .menu {
  margin: 0;
}
